<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}">title placeholder</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
</head>
<body style="background-color:#f0f0f0">
<!--导航条-->
<div th:insert="~{htmlElement/nav.html::topnav}"></div>
<!--body-->
<div class="container-fluid" style="margin: 20px;padding:20px 20px 100px 20px;background-color: #ffffff">
    <div class="row">
        <!--        左侧body-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true" th:text="${'  '+sectionName}"></span></h2>
            <hr>
<!--            信息框-->
            <div th:if="${!(paginationDTO==null||paginationDTO.getQuestions().isEmpty())}" th:each="questionDTO:${paginationDTO.getQuestions()}">
                <div class="media" style="margin-bottom: 15px">
                    <div class="media-body">
                        <a th:href="${'/question/'+questionDTO.getId()}"><h4 class="media-heading" th:text="${questionDTO.getTitle()}">标题</h4></a>
                        [[${#strings.abbreviate(questionDTO.getDescription(),30)}]]<br>
                        <span style="font-size: 12px;font-weight: normal;color: #999" th:text="${questionDTO.getCommentCount()+'个回复 ·'
                        +questionDTO.getViewCount()+'个浏览 ·'
                        +#dates.format(questionDTO.getGmtCreate(),'yyyy-MM-dd hh:mm:ss')+'创建'}"></span>
                    </div>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="?page=1" aria-label="Previous" th:if="${paginationDTO.isShowFirstPage()}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a ria-label="Previous"  th:if="${paginationDTO.isShowPrevious()}" th:href="'?page='+(${paginationDTO.getPage()-1})">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${paginationDTO.pages}" th:class="${paginationDTO.page == page}? 'active':''">
                        <a th:text="${page}" th:href="${'?page='+page}"></a>
                    </li>
                    <li>
                        <a  aria-label="Next" th:if="${paginationDTO.isShowNext()}" th:href="'?page='+(${paginationDTO.getPage()+1})">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="'?page='+(${paginationDTO.totalPage})" aria-label="Next" th:if="${paginationDTO.isShowEndPage()}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!--        右侧body-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="list-group">
                <a href="/profile/question" class="list-group-item" th:class="${section.equals('question')?'active list-group-item':'list-group-item'}">
                    我的问题
                    <span class="badge"></span>
                </a>
                <a href="/profile/replies" class="list-group-item" th:class="${section.equals('replies')?'active list-group-item':'list-group-item'}">
                    最新回复
                    <span class="badge">2</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>